In [1]:
import requests
from bs4 import BeautifulSoup
import pandas

In [2]:
account = '106010'
password = 'G122117609'

In [3]:
session = requests.session()
data = {
    'sess_id': account,
    'sess_password': password,
    'dfURL': '',
    'dfFrame_no': 2,
    'dfAction': '',
    'dfId': '',
    'dfForm': 'login.jsp'
}
session.post(url='http://202.3.168.17:8080/login_check.jsp', data=data)

In [4]:
response_dashboard_terminal = session.get(url='http://202.3.168.17:8080/Disp/DashBoard_Terminal.jsp')
df_read_html_response_dashboard_terminal_text = pandas.read_html(response_dashboard_terminal.text)

In [5]:
df_ticket_handling = df_read_html_response_dashboard_terminal_text[4]

In [8]:
def let_the_first_row_be_column_title(dataframe):
    new_dataframe = dataframe[1:]
    new_dataframe.columns = dataframe.iloc[0]
    return new_dataframe

In [9]:
new_df_ticket_handling = let_the_first_row_be_column_title(df_ticket_handling)

In [13]:
ticket_handling_number_list =

0             單號                  客戶名稱 協銷客戶名稱      類別   專案   流程
1   202004210873              傑思網擎有限公司    NaN  異動/測試單  李瑞賢  處理中
2   202004210872            鈊象電子股份有限公司    NaN  新增/測試單  李瑞賢  處理中
3   202004210871  OLYMPIC STAR LIMITED    NaN  新增/測試單  李瑞賢  處理中
4   202004170860              發現資訊有限公司    NaN  新增/測試單  李瑞賢  處理中
5   202004150826           TY solution    NaN  新增/測試單  李瑞賢  處理中
6   202004070759  Pragmatic Software S    NaN  退租/一般單  李忠憲  處理中
7   202003300699  財團法人國家實驗研究院國家高速網路與計算    NaN  新增/測試單  李忠憲  處理中
8   202003300695            是方電訊股份有限公司    NaN  新增/內工單   龔哲  處理中
9   202003110519            海博資訊股份有限公司    NaN  新增/測試單  李瑞賢  處理中
10  202003040451            華電聯網股份有限公司    NaN  新增/一般單  李瑞賢  處理中

In [55]:
request_ticket_detail_url_base = 'http://202.3.168.17:8080/Disp/retriveDetail.jsp'

In [56]:
request_ticket_detail_parameter = {
    'method': 'get_Disp_DetailCons',
    'Disp_Cons_Seq': account,
    'Disp_Seq': '202004210873',
}

In [57]:
response_ticket_detail = session.post(url=request_ticket_detail_url_base, data=request_ticket_detail_parameter)

In [58]:
response_ticket_detail.text

"\r\n\r\n\r\n\t\r\n\r\n \r\n\r\n\r\n\r\n\r\n<div class='CSSTableGenerator'><table width='100%' align='left' border='1'><tr><td width='15%'>工務名稱</td><td width='21%'>裝機地址</td><td width='10%'>工務同仁</td><td width='12%'>轉派時間</td><td width='10%'>流程</td><td width='5%'>工期</td><td width='12%'>工務起訖日</td><td>待竣時間</td></tr><tr><td><a href='#?seq_no=202004210873&Disp_Detail_Seq=1&Disp_Assign_Detail_Seq=47285' class='winOpen'>VM服務</a></td><td></td><td>雲端-林敬智</td><td>2020-04-21 11:30:40</td><td><a href='#?seq_no=202004210873' class='winOpenFlow'>處理中</td><td>3</td><td>標:2020/04/22~2020/04/24<br>預:2020/06/17~2020/06/17</td><td>&nbsp;</td></tr><tr><td><a href='#?seq_no=202004210873&Disp_Detail_Seq=2&Disp_Assign_Detail_Seq=47286' class='winOpen'>VM服務-頻寬</a></td><td></td><td>雲端-林敬智</td><td>2020-04-21 11:30:45</td><td><a href='#?seq_no=202004210873' class='winOpenFlow'>處理中</td><td>9</td><td>標:2020/04/22~2020/05/05<br>預:2020/06/17~2020/06/17</td><td>&nbsp;</td></tr></table></div>\r\n"

In [90]:
data = pandas.read_html(response_ticket_detail.text)[0]

In [91]:
data1 = pandas.read_html(response_ticket_detail.text, skiprows=1)[0]

In [92]:
data1

,0,1,2,3,4,5,6,7
0,VM服務,NaN,雲端-林敬智,2020-04-21 11:30:40,處理中,3,標:2020/04/22~2020/04/24預:2020/06/17~2020/06/17,NaN
1,VM服務-頻寬,NaN,雲端-林敬智,2020-04-21 11:30:45,處理中,9,標:2020/04/22~2020/05/05預:2020/06/17~2020/06/17,NaN

In [89]:
data2

               0                     1       2       3    4    5
0             單號                  客戶名稱  協銷客戶名稱      類別   專案   流程
1   202004210873              傑思網擎有限公司     NaN  異動/測試單  李瑞賢  處理中
2   202004210872            鈊象電子股份有限公司     NaN  新增/測試單  李瑞賢  處理中
3   202004210871  OLYMPIC STAR LIMITED     NaN  新增/測試單  李瑞賢  處理中
4   202004170860              發現資訊有限公司     NaN  新增/測試單  李瑞賢  處理中
5   202004150826           TY solution     NaN  新增/測試單  李瑞賢  處理中
6   202004070759  Pragmatic Software S     NaN  退租/一般單  李忠憲  處理中
7   202003300699  財團法人國家實驗研究院國家高速網路與計算     NaN  新增/測試單  李忠憲  處理中
8   202003300695            是方電訊股份有限公司     NaN  新增/內工單   龔哲  處理中
9   202003110519            海博資訊股份有限公司     NaN  新增/測試單  李瑞賢  處理中
10  202003040451            華電聯網股份有限公司     NaN  新增/一般單  李瑞賢  處理中

In [17]:
soup_ticket_detail = BeautifulSoup(response_ticket_detail.text, 'html.parser')

In [10]:
soup_ticket_table_title = soup_ticket_detail.select('div > table > tr:nth-child(1) > td')

In [11]:
ticket_table_title_list = [ s.text for s in soup_ticket_table_title ]

In [12]:
n = 2
ticket_table_content_list = []
while soup_ticket_detail.select(f'div > table > tr:nth-child({n}) > td'):
    soup_ticket_table_content = soup_ticket_detail.select(f'div > table > tr:nth-child({n}) > td')
    ticket_table_row_list = [ s.text for s in soup_ticket_table_content ]
    ticket_table_content_list += [ticket_table_row_list]
    n = n + 1

In [13]:
ticket_table_content_list

[['VM服務',
  '',
  '雲端-林敬智',
  '2020-04-21 11:30:40',
  '處理中',
  '3',
  '標:2020/04/22~2020/04/24預:2020/06/17~2020/06/17',
  '\xa0'],
 ['VM服務-頻寬',
  '',
  '雲端-林敬智',
  '2020-04-21 11:30:45',
  '處理中',
  '9',
  '標:2020/04/22~2020/05/05預:2020/06/17~2020/06/17',
  '\xa0']]